<!DOCTYPE HTML>
{%load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

        <title>Kalandar</title>

        <link rel="stylesheet" type="text/css" href="{% static 'schedules/css/style.css' %}" />

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'schedules/css/bootstrap.min.css' %}" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Kalandar</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container starter-template">
          {% if Events %}
            {% for event in Events %}
              <ul>
                <li>{{ event.description }}</li>
              </ul>
            {% endfor %}
          {% else %}
            <b>logged out</b>
          {% endif %}
{#        <div class="jumbotron">#}
{#          <h1>Welcome To Kalandar!</h1>#}
{#          <p class="lead">Login Below Using Your <b>ONID</b> Credentials</p>#}
{#          <div class="row">#}
{#            <div class="col-lg-6 col-lg-offset-3">#}
{#              <form class="form-horizontal" role="form" method="post" action="login/">{% csrf_token %}#}
{#                <input type="text" class="form-control input-lg" placeholder="ONID username" name="username" required autofocus></br>#}
{#                <input type="hidden" name="next" value="http://kalandar-oregonstate.rhcloud.com/main">#}
{#                <input type="password" class="form-control input-lg" placeholder="Password" name="password" required>#}
{#                <label class="checkbox"><input id="remember" type="checkbox" value="remember-me"> Remember me</label>#}
{#                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>#}
{#              </form>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
      </div>
    </body>
</html>
